<section id="about" class="white-flex">
    <div class="about-container">
      <img [src]="Images.CODING" alt="Coding illustration">
      <div class="left-align heading-container">
        <h1>A Bit About Me</h1>
        <h2>(& My Code)</h2>
        <p>Hey there! I’m <strong>Shivam Sharma</strong> — a <strong>Senior Full Stack Developer</strong> who lives and
          breathes
          <strong>Java, Spring Boot, Angular, and Microservices</strong>.
        </p>

        <p>For over <strong>8 years</strong>, I’ve been turning coffee into clean code and complex business ideas into
          scalable,
          high-performance applications. From backend microservices that never break (well, almost 😅) to slick Angular
          frontends,
          I love building things that just work — beautifully and efficiently.</p>

        <p>I’m big on <strong>Agile collaboration</strong>, <strong>code quality</strong>, and that satisfying feeling
          when a
          <strong>CI/CD pipeline turns all green</strong>. I’ve led projects, mentored teams, optimized legacy code,
          and learned that there’s always room for one more <code>System.out.println()</code> (just kidding… mostly).
        </p>

        <p>I believe great software comes from curiosity, collaboration, and continuous improvement.
          Every project is a chance to learn, innovate, and make technology just a little more human.</p>

        <p>Now, I’m looking to take my skills global — open to <strong>relocation and visa sponsorship</strong> in the
          <strong>EU, Canada or UAE</strong> — and excited to join a team where innovation, impact, and good vibes
          come standard.
        </p>
        <a (click)="scrollTo('contact')" class="contact-btn scroll-link">Contact Me > </a>
      </div>
    </div>
  </section>