#about .about-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
}

#about img {
  width: 300px;
  border-radius: 10px;
}

.contact-btn {
  padding: 8px 16px;
  background: #030303;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
