<section id="contact">
    <div class="contact-container">

      <!-- Contact Info -->
      <div class="contact-info">
        <h1>Contact Me</h1>

        <p class="contact-blurb">
          Open to exciting roles and collaborations where quality, performance, and innovation matter. Let’s create
          something that lasts.
        </p>

        <div class="contact-details">
          <div class="contact-row">
            <span><i class="fa-solid fa-location-dot"></i> <strong>Bangalore, Karnataka, India</strong></span>
            <span><i class="fa-solid fa-globe"></i> <em>Open to relocation — EU · Canada · UAE</em></span>
            <span><i class="fa-solid fa-envelope"></i>
              <a href="mailto:itsshivam95@gmail.com">itsshivam95&#64;gmail.com</a>
              <span><i class="fa-solid fa-phone"></i>
                <a href="tel:+918307369808">+91 83073 69808</a>
              </span>
            </span>
          </div>

          <div class="contact-row">
            <span><i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/in/itsshivam/" target="_blank" rel="noopener">LinkedIn</a>
            </span>
            <span class="social-icon">
              <a href="https://www.instagram.com/itsshivam95" target="_blank" rel="noopener">
                <i class="fa-brands fa-instagram"></i>
                Instagram
              </a>
            </span>
            <span class="social-icon">
              <a href="https://www.facebook.com/Shivam95.Sharma" target="_blank" rel="noopener">
                <i class="fa-brands fa-facebook-f"></i>
                Facebook
              </a>
            </span>

            <span class="social-icon">
              <a href="https://www.credly.com/users/itsshivam95" target="_blank" rel="noopener">
                <i class="fa-solid fa-award"></i> Credly
              </a>
            </span>

          </div>
        </div>


      </div>
      <!-- Contact Form -->
      <form id="contact-form" class="contact-form">
        <h4><span>Every great project begins with a simple conversation.</span> <br /><span>Let’s start ours
            today.</span></h4>

        <div class="input-group col">
          <input type="text" id="from_name" name="from_name" placeholder="Enter your name" required>
        </div>
        <div class="row two-col">
          <div class="input-group">
            <input type="email" id="from_email" name="from_email" placeholder="Enter Valid Email Adress" required>
          </div>
          <div class="input-group">
            <input type="tel" id="contact_number" name="contact_number" maxlength="15" inputmode="numeric"
              pattern="[0-9]*" placeholder="Phone number(Optional)">
          </div>
        </div>
        <div class="input-group col">
          <textarea id="message" name="message" placeholder="Write your message here..." required></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>

    </div>