#contact {
  padding: 43px 0px;
  background: #f9f7f6;
  font-family: "Poppins", sans-serif;
}

/* Container */
.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: center;
}

/* Contact Info */


.contact-info {
  width: 36%;
  text-align: justify;

  h1 {
    margin: 21px 0px;
    font-size: 55px;
    color: #333;
  }

  p {
    line-height: 1.8;
    color: #555;
    font-size: 15px;
  }

  a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }
}

.contact-form h4 {
  padding-bottom: 13px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: fangsong;

  span {
    line-height: 2;
  }
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  border-radius: unset;
  background: unset;

}


/* Two-column layout for Email + Phone */
.contact-form .two-col {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-form .two-col .input-group {
  flex: 1;
  /* equal width for both */
}

/* Ensure responsive stacking on smaller screens */
@media (max-width: 768px) {
  .contact-form .two-col {
    flex-direction: column;
  }
}


.input-group input,
.input-group textarea {
  padding: 12px 14px;
  border: 1px solid #e4e4e4;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
  font-family: none;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #c0c0c2;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.15);
  background: #fff;
}

.input-group textarea {
  resize: none;
  height: 120px;
}

.iti__search-icon,
.iti__search-clear {
  display: none !important;
}

.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover,
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary {
  background-color: white;
}

.iti__selected-country {
  background: white !important;
  border-radius: unset !important;
  box-shadow: none !important;
  width: 100% !important;
  padding: unset !important;
}

.iti__country-container {
  padding: 2px;
}

.contact-form button:enabled:hover {
  transform: none !important;
}

.contact-form {

  input::placeholder,
  textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    color: #adabab;
    opacity: 1px;
  }

  /* Button */
  button {
    width: 30%;
    padding: 12px;
    border: none;
    background: #F24F16;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: not-allowed;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

.contact-form button:enabled {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.contact-form button:enabled:hover {
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: stretch;
  }

  /* Stack email + phone vertically on mobile */
  .contact-form .row {
    flex-direction: column;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  /* space between rows */
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.contact-row span {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}

.contact-details a {
  color: #35779a;
  text-decoration: none;
  font-weight: 500;
}

.contact-details a:hover {
  text-decoration: underline;
}

.social-icon i {
  color: #333;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flow;
  height: 100%;
}


.tech-stack-item {
  background: #302f2f;
  padding: 5px 11px;
  border-radius: 20px;
  margin: 0 10px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}