<section id="skills">
    <div class="heading-container">
      <h1>My Skills & Stack</h1>
      <div class="skills-table">

        <div class="skill-category">
          <h3>Languages & Frameworks</h3>
          <span>Core Java, Spring Boot, Angular, TypeScript</span>
        </div>

        <div class="skill-category">
          <h3>Backend & Microservices</h3>
          <span>Microservices, REST APIs, Spring Security, Web Development</span>
        </div>

        <div class="skill-category">
          <h3>Testing & QA</h3>
          <span>JUnit, Mockito, Jasmine/Karma, Wiremock, Cucumber, Cypress</span>
        </div>

        <div class="skill-category">
          <h3>DevOps & Tools</h3>
          <span>Github Actions, Sonar, Code QL, Nexus, Jenkins, Docker, JIRA, Nexus </span>
        </div>

        <div class="skill-category">
          <h3>Domain Knowledge</h3>
          <span>Insurance (Currently working on), Banking Domain, Automation & Product Development, Enterprise
            Application/Retail, </span>
        </div>
        <div class="skill-category">
          <h3>Methodologies & Concepts</h3>
          <span>Agile, Waterfall, Data Structure & Algorithms, Design Patterns, SOLID Principle</span>
        </div>

        <div class="skill-category">
          <h3>Soft Skills</h3>
          <span>Communication Skills, Team Collaboration</span>
        </div>

        <div class="skill-category">
          <h3>Optimization</h3>
          <span>Code Refactoring & Optimization</span>
        </div>


      </div>
    </div>
  </section>