/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}


.hero-image img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.heading-container {
  margin-bottom: 30px;
  text-align: center;
  /* text at bottom */
}

.left-align {
  margin-bottom: 30px;
  text-align: left;
  /* text at bottom */
}

.heading-container h1 {
  font-size: 3.1rem;
  -webkit-text-stroke-width: 3.2px;
  margin-left: 26%;
  width: 51%;
}

.heading-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-message {
  display: inline-block;
  background-color: #ffffff;
  /* bubble color */
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateY(50px);
  animation: slideInMessage 0.8s forwards;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.grey-text {
  display: inline-block;
  color: #d3d1d1;
}

.hero-message .red-text {
  display: inline-block;
  border: 2px solid hwb(0 1% 3% / 0.256);
  /* red border */
  border-radius: 12px;
  background-color: hsla(0, 100%, 50%, 0.194);
  /* curved edges */
  padding: 1px 8px;
  /* small padding to look like a pill */
  color: hwb(0 0% 0%);
  /* red text */
  font-weight: bold;
  margin-right: 8px;
  font-size: 1rem;
}

.hero-message .black-text {
  color: rgb(2, 2, 2);
}

.hero-message .hey-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Slide-in animation */
@keyframes slideInMessage {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-btn {
  padding: 8px 16px;
  background: #030303;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}