<section id="hero">
    <div class="hero-image">
      <img [src]="self.HERO" alt="Avatar">
    </div>
    <div class="hero-message">
      <span class="red-text hey-text">Hey!</span> <span class="grey-text">I'm </span><span class="black-text"> Shivam
        Sharma</span>
    </div>
    <div class="heading-container">
      <h1>I Build Full-Stack Stuff That Actually Works!</h1>
      <p>Code, bugs, and late-night coffee keep it all running.</p>
      <a (click)="scrollTo('contact')" class="contact-btn scroll-link">Contact Me > </a>
    </div>
  </section>