<section id="work" class="white-flex">
    <div class="heading-container">
      <h1>Where I've Worked</h1>
      <div class="work-cards">
        <div class="work-card">
          <div class=work-card-content>
            <h3>Senior Full Stack Developer</h3>
            <strong class="grey-text">Aug 2021 - Present</strong>
            <ul>
              <li>Crafted <strong>scalable backend microservices</strong> for <strong>Macquarie Group,
                  Australia</strong> and <strong>Belgium Allianz</strong>, including the <strong>EB Quotation
                  Tool</strong>.</li>
              <li>Developed <strong>Angular-driven UIs</strong> that are <strong>30% faster and smoother</strong>,
                improving user experience.</li>
              <li>Implemented <strong>robust error handling</strong> for reliable system performance.</li>
              <li>Practiced <strong>Agile collaboration</strong> with clients to deliver high-quality solutions.</li>
              <li>Led <strong>code reviews and quality initiatives</strong>, reducing production bugs by
                <strong>20%</strong>.
              </li>
              <li>Continuously <strong>optimized and innovated</strong> across projects to deliver maximum impact.</li>
            </ul>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.IBM"  alt="IBM Logo" />
            <div class="footer-text">
              <span class="company-name">IBM(Global business Services)</span>
              <span class="work-card-location">Bangalore, Karnataka, India</span>
            </div>
          </div>
        </div>
        <div class="work-card">
          <div class=work-card-content>
            <h3>Senior Full Stack Developer</h3>
            <strong class="grey-text">Jan 2020 - Aug 2021</strong>
            <ul>
              <li>Built <strong>enterprise microservices</strong> for <strong>Best Buy, USA</strong> and
                <strong>Dell</strong>, ensuring <strong>high performance and scalability</strong>.
              </li>
              <li>Developed <strong>standalone micro apps</strong> with rigorous <strong>unit and automation
                  testing</strong> (JUnit, Mockito, Jasmine/Karma, Cypress).</li>
              <li>Enhanced <strong>UI/UX</strong> for smoother, more intuitive user experiences.</li>
              <li>Contributed to <strong>high-performance backend systems</strong> handling complex workflows.</li>
              <li>Practiced <strong>Agile methodologies</strong> and <strong>continuous delivery</strong> for consistent
                results.</li>
              <li>Collaborated across teams to <strong>ensure maintainable, scalable solutions</strong>.</li>
            </ul>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.ACCENTURE"  alt="Avatar" />
            <div class="footer-text">
              <span>Accenture India Pvt. Ltd.</span>
              <span class="work-card-location">Bangalore, Karnatak, India</span>
            </div>
          </div>
        </div>
        <div class="work-card">
          <div class=work-card-content>
            <h3>Full Stack Developer</h3>
            <strong class="grey-text">May 2017 - Jan 2020</strong>
            <ul>
              <li>Worked on <strong>Tenjin</strong>, an <strong>automation tool</strong>, leading <strong>migration of
                  legacy modules</strong>.</li>
              <li>Managed <strong>UI, business, and data layers</strong> using Java, J2EE, JSP, JSTL, and Bootstrap.
              </li>
              <li>Integrated <strong>Appium and PCloudy</strong> to expand product capabilities.</li>
              <li>Mentored team members to <strong>enhance skills and productivity</strong>.</li>
              <li>Spearheaded <strong>architectural improvements</strong>, boosting core module performance by
                <strong>50%</strong>.
              </li>
              <li>Gained <strong>on-site client experience in Malta</strong>, collaborating directly to deliver tailored
                solutions.</li>
            </ul>
          </div>
          <div class="work-card-footer">

            <img [src]="Images.YETHI" alt="Avatar" />
            <div class="footer-text">
              <span>Yethi Consulting Pvt. Ltd.</span>
                <span class="work-card-location">Bangalore, Karnatak, India</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>