

/* WORK */
#work {
  padding: 80px 50px;
  text-align: center;
}

.work-cards {
  display: inline-grid;
  gap: 35px;
  flex-wrap: wrap;
  width: 70%;
  text-align: -webkit-left;

}

.work-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-flow: column;
}

.work-card-footer {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
  text-align: left;
  font-weight: bold;

  .footer-text {
    margin-left: 20px;
    flex-direction: row;
  }

  .work-card-location {
    color: #949494;
    display: grid;
    /* grey color for location */
    font-size: 0.7rem;
    /* slightly smaller font */
  }
}


.work-card-content {
  padding: 20px;
}

.work-card-content h3 {
  margin-bottom: 0;
}

.work-card-footer img {
  width: 60px;
  /* desired diameter */
  height: 60px;
  object-fit: cover;
  /* crops and scales image to fill the circle */
  border-radius: 50%;
  /* makes it circular */
}

/* RESPONSIVE */
@media(max-width: 900px) {

  #hero,
  #about .about-container {
    flex-direction: column;
  }
}

.white-flex {
  background: #ffffff;
}

.work-card:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    z-index: 2;
}