/* TESTIMONIALS */
#testimonials {
  padding: 80px 50px;
  text-align: center;

  .testimonial-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0% 4%;

    .testimonial-card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
      width: 300px;

      .testimonial-card-content {
        padding: 15px;
        text-align: left;

        p {
          font-size: unset;
        }
      }


      .testimonial-icon {
        text-align: left;
      }

      .quote-outline {
        text-align: left;
        font-size: xx-large;
        color: transparent;
        -webkit-text-stroke: 2px #F24F16;
      }

    }
  }
}


.testimonial-card:hover {
  transform: scale(1.01)!important;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2) !important;
  z-index: 2;
}