<section id="testimonials">
    <div class="heading-container">
      <h1>What They Said About Me</h1>
      <div class="testimonial-cards">
        <div class="testimonial-card" style="width:60%">
          <div class="testimonial-card-content">
            <div class="testimonial-icon"><i class="fa-solid fa-quote-right quote-outline"></i></div>
            <p>"Shivam consistently demonstrates a strong sense of ownership and accountability.
              He takes initiative to understand challenges deeply and always delivers solutions that are both reliable
              and maintainable."</p>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.AVATAR2" alt="Avatar" />
            <div class="footer-text">
              <span>- Team Lead & Scrum Master</span>
            </div>
          </div>
        </div>
        <div class="testimonial-card" style="width:30%">
          <div class="testimonial-card-content">
            <div class="testimonial-icon"><i class="fa-solid fa-quote-right quote-outline"></i></div>
            <p>"Adaptable and quick to learn, Shivam continuously seeks ways to improve and excel."</p>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.AVATAR1" alt="Avatar" />
            <div class="footer-text">
              <span>- Technical Architect</span>
              <span class="work-card-location"></span>
            </div>
          </div>
        </div>
        <div class="testimonial-card" style="width:30%">
          <div class="testimonial-card-content">
            <div class="testimonial-icon"><i class="fa-solid fa-quote-right quote-outline"></i></div>
            <p>"Shivam simplifies complex problems and delivers efficient, high-quality solutions."</p>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.AVATAR4" alt="Avatar" />
            <div class="footer-text">
              <span>- Team Collaborator</span>
              <span class="work-card-location"></span>
            </div>
          </div>
        </div>
        <div class="testimonial-card" style="width:60%">
          <div class="testimonial-card-content">
            <div class="testimonial-icon"><i class="fa-solid fa-quote-right quote-outline"></i></div>
            <p>"He communicates ideas clearly and works seamlessly with cross-functional teams.
              His collaborative attitude fosters a productive and positive environment, even under tight deadlines."</p>
          </div>
          <div class="work-card-footer">
            <img [src]="Images.AVATAR3" alt="Avatar" />
            <div class="footer-text">
              <span>- Project Stakeholder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>