html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f7f6;
  padding-top: 80px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Slide-in animation */
@keyframes slideInMessage {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* PROJECTS */
#portfolio {
  padding: 80px 50px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  padding: 4%;
  width: 100%;
  border-radius: 10px;
  height: 70vh;
  margin: 0;
  background: radial-gradient(circle at 30% 30%, #444 0%, #1a1a1a 40%, #000 100%);
  background-blend-mode: overlay;
  color: white;
  display: table-row;
  font-family: sans-serif;
}

/* WORK */
#work {
  padding: 80px 50px;
  text-align: center;
}

.work-cards {
  display: inline-grid;
  gap: 35px;
  flex-wrap: wrap;
  width: 70%;
  text-align: -webkit-left;

}

.work-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-flow: column;
}

.work-card-footer {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
  text-align: left;
  font-weight: bold;

  .footer-text {
    margin-left: 20px;
    flex-direction: row;
  }

  .work-card-location {
    color: #949494;
    display: grid;
    /* grey color for location */
    font-size: 0.7rem;
    /* slightly smaller font */
  }
}


.work-card-content {
  padding: 20px;
}

.work-card-content h3 {
  margin-bottom: 0;
}

.work-card-footer img {
  width: 60px;
  /* desired diameter */
  height: 60px;
  object-fit: cover;
  /* crops and scales image to fill the circle */
  border-radius: 50%;
  /* makes it circular */
}

/* RESPONSIVE */
@media(max-width: 900px) {

  #hero,
  #about .about-container {
    flex-direction: column;
  }
}

.white-flex {
  background: #ffffff;
}


.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  /* space between rows */
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.contact-row span {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}

.contact-details a {
  color: #35779a;
  text-decoration: none;
  font-weight: 500;
}

.contact-details a:hover {
  text-decoration: underline;
}

.social-icon i {
  color: #333;
}

.toast {
  visibility: hidden;
  min-width: 320px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px 100px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 11%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  transition: all 0.6s ease;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

/* Toast visible animation */
.toast.show {
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

/* ✅ Success (Green) */
.toast.success {
  background-color: #c5f7dd;
  font-weight: bolder;
  color: green
    /* Green */
}

/* ❌ Error (Red) */
.toast.error {
  background-color: #ffd0cb;
  font-weight: bolder;
  color: #c40000
    /* Red */
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flow;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
  margin-block: auto;
  display: table-column;
}

.tech-stack-item {
  background: #302f2f;
  padding: 5px 11px;
  border-radius: 20px;
  margin: 0 10px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.project-description {
  display: inline-flex;
  .content {
    text-align: justify;
    margin-left: 2%;
  }

  .project-image {
    align-content: space-around;
    text-align: left;
    padding: 5%;
    width: fit-content;

    img {
      width: 100%;
    }
  }

  .project-tech-stack {
    display: inline-flex;
  }
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}